In [4]:
#Assignment 2
#Q1
players = [ ('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_players = sorted(players, key=lambda x: x[1])

print("Sorted list of players:", sorted_players)

Sorted list of players: [('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [6]:
#Q2
l1=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x**2,l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
#Q3
string=[1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda x:str(x),string))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [33]:
#Q4
from functools import reduce
l1=[]
for i in range(1,26):
    l1.append(i)
print(l1)
l2=iter(l1)

product=reduce(lambda x,y:x*y,l2)
print (product)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
15511210043330985984000000

In [11]:
#Q5
l1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

filtered_numbers = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, l1))

print(filtered_numbers)

[6, 60, 90, 120]

In [13]:
#Q6
l2=['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x:x==x[::-1],l2))

['php', 'aba', 'radar', 'level']