In [7]:
#Q1
import pandas as pd
data=[4,8,15,16,23,42]
series=pd.Series(data)
print(series)
type(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

pandas.core.series.Series

In [9]:
#Q2
import pandas as pd
L1=[2,6,9,56,80,65,23,44,53,10]
pd.Series(L1)

0     2
1     6
2     9
3    56
4    80
5    65
6    23
7    44
8    53
9    10
dtype: int64

In [11]:
#Q3
import pandas as pd
data={'Name':['Alice','Bob','Claire'],
      'Age':[25,30,27],
      'Gender':['Female','Male','Female']}
pd.DataFrame(data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#Q4
DataFrame:
A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.
We can think of it as a spreadsheet or SQL table, or a dictionary of Series objects.

Series:
A Series is a 1-dimensional labeled array capable of holding any data type (integers, strings, floating-point numbers, Python objects, etc.).

#Example:
import pandas as pd

#Series
series_data = pd.Series([10, 20, 30, 40, 50])
print("Series:")
print(series_data)

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 35],
        'City': ['New York', 'London', 'Tokyo', 'Paris']}
dataframe_data = pd.DataFrame(data)
print("\nDataFrame:")
print(dataframe_data)

In [ ]:
#Q5
head() and tail():
Display the first or last 'n' rows.

info(): 
Provides a concise summary of the DataFrame.

describe():

Generates descriptive statistics.

#Example
import pandas as pd

data = {'Category': ['Electronics', 'Clothing', 'Electronics', 'Clothing', 'Books'],
        'Sales': [100, 50, 150, 75, 80]}
sales_df = pd.DataFrame(data)
sales_df.describe()

In [ ]:
#Q6
Series: Mutable.
DataFrame: Mutable.
Panel: Mutable (though Panels are less frequently used now, and have been largely superseded by multi-index DataFrames).

In [13]:
#Q7
import pandas as pd

# Create Series for names, ages, and cities
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 28])
cities = pd.Series(['New York', 'London', 'Tokyo'])

# Create a DataFrame using a dictionary of Series
data = {'Name': names, 'Age': ages, 'City': cities}
df = pd.DataFrame(data)

print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28     Tokyo