In [ ]:
#Q1
A database is a collection of data organized in a way that makes it easy to access, manage, and update.

#SQL Databases: 
They use structured query language (SQL) and store data in tables.
Example: MySQL, PostgreSQL.

#NoSQL Databases:
They store data in various formats like documents, key-value pairs, or graphs. 
 Example: MongoDB, Redis.

In [ ]:
#Q2
#DDL (Data Definition Language): 
It is used to define or modify the structure of the database.

CREATE: Makes a new table or database.

DROP: Deletes a table or database.

ALTER: Changes the structure of an existing table.

TRUNCATE: Deletes all data in a table but keeps the table structure.

Example: CREATE TABLE Students (ID INT, Name VARCHAR(50));

In [ ]:
#Q3
#DML (Data Manipulation Language): 
It is used to manage data within tables.

INSERT: Adds new data to a table.

UPDATE: Changes existing data in a table.

DELETE: Removes data from a table.

Example: INSERT INTO Students (ID, Name) VALUES (1, 'John Doe');

In [ ]:
#Q4
#DQL (Data Query Language): 
It is used to query or retrieve data from a table.

SELECT: Retrieves data from a table.

Example: SELECT Name FROM Students WHERE ID = 1;

In [ ]:
#Q5
#Primary Key: 
A unique identifier for each record in a table. Example: ID in a Students table.

#Foreign Key: 
A field in one table that links to the primary key in another table. 
Example: StudentID in a Grades table linking to ID in the Students table.

In [ ]:
#Q6
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="rohit26",
    password="data123",
    database="DataScience"
)


mycursor = mydb.cursor()


mycursor.execute("SELECT * FROM Students")


result = mycursor.fetchall()

for x in result:
    print(x)

#cursor(): 
Creates a cursor object to interact with the database.

#execute(): 
Executes a given SQL query.

In [ ]:
#Q7
#Order of Execution of SQL Clause
FROM

WHERE

GROUP BY

HAVING

SELECT

ORDER BY